/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */


body {
    background-color: black;
    text-align: center;
    font-family: "Brenner Mono";
    overflow: hidden;

}

#sonidos p {
    opacity: 0;
    margin: -10em auto 0;
    text-align: center;
    width: 100%;
    position: absolute;
    color: darkred;
    font-family: "Brenner Mono Light Italic";


}

#closed-captions {
    color: white;
    font-size: 1.12em;

}

#closed-captions p {
    margin: -9em auto 0;
    width: 100%;
    opacity: 0;
    transition: .05s;
    position: absolute;
    z-index: 3;
}

#closed-captions .on {
    opacity: 1;

}

#closed-captions .off {
    transition: .2s;
    opacity: 0;
}

.voice1 {
    color: yellow;
}

.voice2 {
    font-family: "Brenner Sans Medium";




}

.voice3 {
    color: orange;
    font-family: "Brenner Sans Light Italic";
}



.voice4 {
    color: yellow;
    font-family: "Brenner Mono Light";
}

#sonidos {
    z-index: 200;
    font-size: 1.2em;
}



/**** mine */



/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */


/* The moment the class .sound1 is added to the body, the background is yellow */


/* dissapearing short sounds */
@keyframes bye {
    0% {
        opacity: 1
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.sound0 #sonidos .uno {
    animation: bye 8s;
}

.sound1 #sonidos .tres {
    animation: bye 2s;


}

.sound2 #sonidos .dos {
    animation: bye 2s;
}

.sound3 #sonidos .tres2 {
    animation: bye 1.5s;

}


.sound4 #sonidos .tres3 {
    animation: bye 1.5s;

}

.sound5 #sonidos .tres4 {
    animation: bye 1.5s;

}


.sound6 #sonidos .tres5 {
    animation: bye 1.5s;

}

.sound7 #sonidos .tres6 {
    animation: bye 1.3s;
}

.sound8 #sonidos .tres7 {
    animation: bye 1.5s;


}

/*
.sound2 #sonidos .tres {
    opacity: 1;
    transition: 1s;


}
.sound3 #sonidos .dos {
    opacity: 1;
    transition: 1s;
    transition-duration: 1s;

}
.sound4 #sonidos .tres {
    opacity: 1;
    transition: 1s;
    transition-duration: 1s;
    
}
.sound5 #sonidos .dos {
    opacity: 1;
    transition: 1s;
    transition-duration: 1s;

}
.sound6 #sonidos .tres {
    opacity: 1;
    transition: 1s;
    transition-duration: 1s;
}

.sound7 #sonidos .dos {
    opacity: 1;
    transition: 1s;
    transition-duration: 1s;
}

*/
.sound8 {
    background-color: black;

    animation: blinkingBackground 1s 42;
    animation-delay: 1s;

}

@keyframes blinkingBackground {
    0% {
        background-color: darkred;
    }

    25% {
        background-color: black;
    }

    50% {
        background-color: darkred;
    }

    75% {
        background-color: black;
    }

    100% {
        background-color: darkred;
    }
}

.sound1 {
    background-color: #B7BFAE;
    transition: 1s;
}



.sound2 {
    background-color: black;
    transition: 1s;
}

.sound3 {
    background-color: #B7BFAE;
    transition: 1s;
}





.sound4 {
    background-color: black;
    transition: 1s;
}



.sound5 {
    background-color: #B7BFAE;
    transition: 1s;
}



.sound6 {
    background-color: black;
    transition: 1s;
}


.sound7 {
    background-color: #B7BFAE;
    transition: 1s;
}

.sound8 {
    background-color: black;
    transition: 1s;
}


/* constant beeping */
.sound8 #sonidos .quatro {
    opacity: 1;
    transition: 1s;
    transition-delay: 1s;
}



.sound9 {
    background-color: black;
}




.sound9 #sonidos .quatro {
    transition-delay: 40s;
    transition-duration: 1;
    opacity: 0;
}

iframe {
    margin: auto auto;
    transition: 1s;
    /* opacity: 0.5; */


}
